<footer>
				<div class="footer col-xs-12">
					<ul>
						<li>Sitemap</li>
						<li>Privacy policy</li>
						<li>Accessibility</li>
						<li>Company registration details</li>
					</ul>
				</div>
			</footer>