<footer>
				<div class="footer col-xs-12">
					<ul class="social-network">
						<li>Find out what we are saying</li>

						<li>What are we up to</li>

						<li>Want to work with us</li>
					</ul>

					<ul class="misc">
						<li>Sitemap</li>

						<li>Privacy policy</li>

						<li>Accessibility</li>

						<li>Company registration details</li>
					</ul>
				</div>
			</footer>