<div class="header col-xs-12">
				<nav class="navbar">
					<div class="container-fluid">
						<div class="collapse navbar-collapse" id="primary-nav">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>