<div class="header col-xs-12">
				<div class="living-group">Logo</div>

				<nav class="navbar">
					<div class="container-fluid">
						<div class="navbar-header">
							<button class="navbar-toggle" data-target="#primary-nav"
							data-toggle="collapse" type="button"><span class=
							"sr-only">Toggle navigation</span></button> <a class=
							"navbar-brand" href="#">living group</a>
						</div>

						<div class="collapse navbar-collapse" id="primary-nav">
							<ul class="nav navbar-nav navbar-right">
								<!-- work -->

								<li class="active"><a href="#">Work</a></li>
								<!-- about us -->

								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown"
									href="#">About us</a>

									<ul class="dropdown-menu">
										<li><a href="#">What we do</a></li>
										<li><a href="#">Team</a></li>
										<li><a href="#">Showreel</a></li>
										<li><a href="#">Inspire</a></li>
										<li><a href="#">Culture</a></li>
									</ul>
								</li><!-- insight -->

								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown"
									href="#">Insight</a>
									<ul class="dropdown-menu">
										<li><a href="#">News</a></li>
										<li><a href="#">Views</a></li>
										<li><a href="#">Ratings</a></li>
									</ul>
								</li><!-- get in touch -->

								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown"
									href="#">Get in touch</a>
									<ul class="dropdown-menu">
										<li><a href="#">Join us</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>